node_modules/
.env
*.log

# backend
server/data/*.db
server/data/*.db-journal
server/data/*.db-wal
server/data/*.db-shm
server/data/uploads/
server/dist/

# mobile / expo
mobile/.expo/
mobile/dist/
mobile/web-build/
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision
